HASP exefile "HASPHL2008.exe"
RAPT FILE "hasp.dng"

DOSBox EXEFILE "DOSBox.exe"
Cal EXEFILE "Cal.exe"
SDL FILE "SDL.dll"
SDL_net FILE "SDL_net.dll"

install_cmd_32 EXEFILE "MultiKey_32\install.cmd"
remove_cmd_32 EXEFILE "MultiKey_32\remove.cmd"
restart_cmd_32 EXEFILE "MultiKey_32\restart.cmd"
devcon_exe_32 EXEFILE "MultiKey_32\devcon.exe"
multikey_cat_32 FILE "MultiKey_32\multikey.cat"
multikey_inf_32 FILE "MultiKey_32\multikey.inf"
MultiKey_sys_32 FILE "MultiKey_32\MultiKey.sys"
RAPT_reg_32 FILE "MultiKey_32\RAPT.reg"

install_cmd_64 EXEFILE "MultiKey_64\install.cmd"
remove_cmd_64 EXEFILE "MultiKey_64\remove.cmd"
restart_cmd_64 EXEFILE "MultiKey_64\restart.cmd"
devcon_exe_64 EXEFILE "MultiKey_64\devcon.exe"
multikey_cat_64 FILE "MultiKey_64\multikey.cat"
multikey_inf_64 FILE "MultiKey_64\multikey.inf"
MultiKey_sys_64 FILE "MultiKey_64\MultiKey.sys"
RAPT_reg_64 FILE "MultiKey_64\RAPT.reg"

TreeViewDefault ICON "TreeViewDefault.png"
TreeViewSelected ICON "TreeViewSelected.png"
